<dom-module id="gel-browser">
    <template>
        <style is="custom-style" include="jso-styles"></style>
        <style>
            dt {
                float: left;
                clear: left;
                text-align: right;
                width: 15%;
                color: #645a5a;
            }

            dd {
                float: left;
                margin-left: 1em;
                color: #999
            }
        </style>

        <div class="center">
            <div class="alert alert-danger" id="opencgaError" hidden="true">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Error! </strong>
                <span></span>
            </div>
        </div>
        <br>

        <div class="row">

            <!-- Results collapsable div -->
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <button on-tap="showInIGV" class="btn btn-success" style="float: right; height: 36px;">Show tracks</button>
                    <div class="panel-heading" role="tab" id="results_panel">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#collapseResultsPanel" aria-expanded="true"
                               aria-controls="collapseResultsPanel">
                                Available files to show
                                <span class="caret"></span>
                            </a>
                        </h4>
                    </div>

                    <div id="collapseResultsPanel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body" style="max-height: 300px; overflow-y: auto">
                            <template is="dom-repeat" items="{{_availableFiles}}" as="sample">
                                <div style="font-weight: bold; text-decoration: underline">{{sample.name}}</div>
                                <template is="dom-repeat" items="{{sample.results}}" as="result">
                                    <div style="font-weight: bold; margin-left: 5px;">{{result.name}}</div>
                                    <template is="dom-repeat" items="{{result.files}}" as="file">
                                        <input type="checkbox" style="margin-left: 15px;"
                                               name="file-checkbox" value="{{file.name}}" data="{{file}}">
                                        <span style="word-wrap:break-word;">{{file.name}}</span><br>
                                    </template>
                                </template>
                                <br>
                            </template>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="url_panel">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#urls" aria-expanded="true" aria-controls="urls">
                                URLs for IGV Desktop
                                <span class="caret"></span>
                            </a>
                        </h4>
                    </div>

                    <div id="urls" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body" style="max-height: 300px; overflow-y: auto">
                            <template is="dom-repeat" items="{{_urls}}">
                                <div style="font-weight: bold; text-decoration: underline">{{item.name}}</div>
                                <div><span style="font-weight: bold">File: </span><span style="word-wrap:break-word; display:block;">{{item.file}}</span></div>
                                <div><span style="font-weight: bold">Index: </span><span style="word-wrap:break-word; display:block;">{{item.index}}</span></div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- IGV div -->
        <div class="container-fluid" id="igvDiv" style="padding:5px; border:1px solid lightgray"></div>

    </template>
    <script>
        Polymer({
            is: 'gel-browser',

            properties: {
                opencgaClient: {
                    type: Object
                },
                config: {
                    type: Object
                },
                _formats: {
                    type: String,
                    value: "VCF,BAM"
                },
                _urls: {
                    type: Array
                },
                _availableFiles: {
                    type: Array
                }
            },
            observers: [
                'getInfo(opencgaClient._config.sessionId)'
            ],

            getInfo: function() {
                this._urls = [];
                if (typeof this.opencgaClient._config.sessionId !== "undefined" && this.opencgaClient._config.sessionId !== "") {
                    // Get the queryParams
                    let queryParams = URI.parseQuery(window.location.search);
                    let paramKeys = Object.keys(queryParams);

                    if (paramKeys.indexOf("study") === -1) {
                        // TODO: RETURN BIG ERROR !
                        return;
                    }
                    if (paramKeys.indexOf("format") > -1) {
                        this.format = queryParams.format;
                    }

                    this.baseUrl = "http://" + this.opencgaClient.getConfig().host + "/webservices/rest/v1/utils/ranges/";
                    this.queryParams = "?sid=" + this.opencgaClient.getConfig().sessionId + "&study=" + queryParams.study;
                    this._study = queryParams.study;

                    let files = [];
                    if (paramKeys.indexOf("samples") > -1 || paramKeys.indexOf("cohorts") > -1 || paramKeys.indexOf("individuals") > -1) {
                        // We check that the user only passed one of those parameters
                        let count = 0;
                        count += paramKeys.indexOf("samples") > -1 ? 1 : 0;
                        count += paramKeys.indexOf("cohorts") > -1 ? 1 : 0;
                        count += paramKeys.indexOf("individuals") > -1 ? 1 : 0;
                        if (count > 1) {
                            // TODO: RETURN BIG ERROR
                            return;
                        }

                        if (paramKeys.indexOf("samples") > -1) {
                            let query = {
                                study: queryParams.study,
                                sample: queryParams.samples
                            };
                            this.searchFiles(query);
                        }

                        if (paramKeys.indexOf("cohorts") > -1) {
                            this.searchCohorts(queryParams.cohorts, {study: queryParams.study});
                        }

                        if (paramKeys.indexOf("individuals") > -1) {
                            this.searchSamples({
                                study: queryParams.study,
                                individual: queryParams.individuals
                            })
                        }

                    } else if (paramKeys.indexOf("files") > -1) {
                        this.infoFiles(queryParams.files, {study: queryParams.study});
                    } else {
                        // TODO: RETURN BIG ERROR !
                        return;
                    }

                }
            },

            showErrorAlert: function(message) {
                $("#opencgaError").alert();
                $("#opencgaError span")[0].textContent = message;
                $("#opencgaError").fadeTo(2000, 500).slideUp(500, function(){
                    $("#opencgaError").slideUp(500);
                });
            },

            searchCohorts: function(cohorts, query) {
                query["include"] = "samples";

                let _this = this;
                this.opencgaClient.cohorts().info(cohorts, query).then(function (response) {
                    let sampleIds = [];
                    for (let i = 0; i < response.response.length; i++) {
                        let tmpResponse = response.response[i];
                        for (let j = 0; j < tmpResponse.result.length; j++) {
                            let tmpCohort = tmpResponse.result[j];
                            for (let w = 0; w < tmpCohort.samples.length; w++) {
                                sampleIds.push(tmpCohort.samples[w]);
                            }
                        }
                    }

                    if (sampleIds.length > 0) {

                        let queryParams = URI.parseQuery(window.location.search);

                        let query = {
                            study: queryParams.study,
                            sample: sampleIds.join(",")
                        };
                        if (typeof queryParams.format !== "undefined") {
                            query["format"] = queryParams.format.toUpperCase();
                        }
                        _this.searchFiles(query);
                    }

                }).catch(function (response) {
                    _this.showErrorAlert(response.error);
                });
            },

            searchSamples: function(query) {
                query["include"] = "id";

                let _this = this;
                this.opencgaClient.samples().search(query).then(function (response) {
                    let sampleIds = [];
                    for (let i = 0; i < response.response.length; i++) {
                        let tmpResponse = response.response[i];
                        for (let j = 0; j < tmpResponse.result.length; j++) {
                            sampleIds.push(tmpResponse.result[j].id);
                        }
                    }

                    if (sampleIds.length > 0) {

                        let queryParams = URI.parseQuery(window.location.search);

                        let query = {
                            study: queryParams.study,
                            sample: sampleIds.join(",")
                        };
                        if (typeof queryParams.format !== "undefined") {
                            query["format"] = queryParams.format.toUpperCase();
                        }
                        _this.searchFiles(query);
                    }
                }).catch(function (response) {
                    _this.showErrorAlert(response.error);
                });
            },

            // This is only called when files is being used in the URL as it can be path, id or name
            infoFiles: function(files, query) {
                // / are not allowed in the info webservices as files will be part of the path param
                files = files.replace(/\//g, ":");
                query["format"] = this._formats.toUpperCase();
                query["include"] = "path,name,format,bioformat";
                Object.assign(query, this.config.filters.query);

                let _this = this;
                this.opencgaClient.files().info(files, query).then(function (response) {
                    _this.updateAvailableFiles(response);
//                    let tracks = _this.parseFileResponse(response);
//                    _this.renderIGV(tracks);
                }).catch(function (response) {
                    _this.showErrorAlert(response.error);
                });
            },

            // This is the one that will be used when samples or cohorts are passed in the URL
            searchFiles: function(query) {
                query["format"] = this._formats.toUpperCase();
                query["include"] = "path,name,format,bioformat";
                Object.assign(query, this.config.filters.query);

                let _this = this;
                this.opencgaClient.files().search(query).then(function (response) {
                    _this.updateAvailableFiles(response);
//                    let tracks = _this.parseFileResponse(response);
//                    _this.renderIGV(tracks);
                }).catch(function (response) {
                    _this.showErrorAlert(response.error);
                });
            },

            updateAvailableFiles: function(response) {
                    let mySamples = [];
                    let formats = {};
                    response.response.forEach(function(response) {
                        response.result.forEach(function(file) {
                            if (!formats.hasOwnProperty(file.format)) {
                                formats[file.format] = [];
                            }
                            formats[file.format].push(file);
                        });
                    });
                    let myFiles = [];
                    Object.keys(formats).forEach(function(format) {
                        myFiles.push({
                            name: format,
                            files: formats[format]
                        });
                    });
                    mySamples.push({
                        name: "NONE",
                        results: myFiles
                    });
                    this._availableFiles = mySamples;
            },

            // It parses the file response to create an array of tracks to be loaded into IGV
            parseFileResponse: function(response) {
                let alignmentTracks = [];
                let variantTracks = [];
                let annotationTracks = [];
                let wigTracks = [];

                for (let j = 0; j < response.response.length; j++) {
                    let availableFiles = response.response[j].result;

                    for (let i = 0; i < availableFiles.length; i++) {
                        availableFiles[i].path = availableFiles[i].path.replace(/\//g, ":");

                        if (availableFiles[i].name.endsWith("bam")) {
                            alignmentTracks.push({
                                type: "alignment",
                                url: this.baseUrl + availableFiles[i].path + this.queryParams,
                                indexURL: this.baseUrl + availableFiles[i].path + ".bai" + this.queryParams,
                                visibilityWindow: 2000,
                                name: availableFiles[i].name
                            });
                            this.push('_urls', {
                                name: availableFiles[i].name,
                                file: this.baseUrl + availableFiles[i].path + this.queryParams,
                                index: this.baseUrl + availableFiles[i].path + ".bai" + this.queryParams
                            });
//                            console.log("Query: " + this.baseUrl + availableFiles[i].path + this.queryParams
//                                + " Index: " + this.baseUrl + availableFiles[i].path + ".bai" + this.queryParams);
                        } else if (availableFiles[i].name.endsWith("vcf") || availableFiles[i].name.endsWith("vcf.gz")) {
                            variantTracks.push({
                                type: "variant",
                                url: this.baseUrl + availableFiles[i].path + this.queryParams,
                                indexURL: this.baseUrl + availableFiles[i].path + ".tbi" + this.queryParams,
                                visibilityWindow: 1000000,
                                name: availableFiles[i].name
                            });
                        } else if (availableFiles[i].name.endsWith("bed") || availableFiles[i].name.endsWith("gff")) {
                            annotationTracks.push({
                                type: "annotation",
                                url: this.baseUrl + availableFiles[i].path + this.queryParams,
                                name: availableFiles[i].name
                            });
                        } else if (availableFiles[i].name.endsWith("wig") || availableFiles[i].name.endsWith("bigWig")) {
                            wigTracks.push({
                                type: "wig",
                                url: this.baseUrl + availableFiles[i].path + this.queryParams,
                                name: availableFiles[i].name
                            });
                        } else {
                            console.log("File " + availableFiles[i].name + " ignored");
                        }
                    }
                }

                let tracks = alignmentTracks.concat(variantTracks, annotationTracks, wigTracks);
                return tracks;
            },

            generateTracks: function(fileArray) {
                this._urls = [];
                let alignmentTracks = [];
                let variantTracks = [];
                let annotationTracks = [];
                let wigTracks = [];

                let _this = this;
                fileArray.forEach(function(file) {

                    file.path = file.path.replace(/\//g, ":");

                    if (file.name.endsWith("bam")) {
                        alignmentTracks.push({
                            type: "alignment",
                            url: _this.baseUrl + file.path + _this.queryParams,
                            indexURL: _this.baseUrl + file.path + ".bai" + _this.queryParams,
                            visibilityWindow: 2000,
                            name: file.name
                        });
                        _this.push('_urls', {
                            name: file.name,
                            file: _this.baseUrl + file.path + _this.queryParams,
                            index: _this.baseUrl + file.path + ".bai" + _this.queryParams
                        });
                    } else if (file.name.endsWith("vcf") || file.name.endsWith("vcf.gz")) {
                        variantTracks.push({
                            type: "variant",
                            url: _this.baseUrl + file.path + _this.queryParams,
                            indexURL: _this.baseUrl + file.path + ".tbi" + _this.queryParams,
                            visibilityWindow: 1000000,
                            name: file.name
                        });
                        _this.push('_urls', {
                            name: file.name,
                            file: _this.baseUrl + file.path + _this.queryParams,
                            index: _this.baseUrl + file.path + ".tbi" + _this.queryParams
                        });
                    } else if (file.name.endsWith("bed") || file.name.endsWith("gff")) {
                        annotationTracks.push({
                            type: "annotation",
                            url: _this.baseUrl + file.path + _this.queryParams,
                            name: file.name
                        });
                    } else if (file.name.endsWith("wig") || file.name.endsWith("bigWig")) {
                        wigTracks.push({
                            type: "wig",
                            url: _this.baseUrl + file.path + _this.queryParams,
                            name: file.name
                        });
                    } else {
                        console.log("File " + file.name + " ignored");
                    }
                });

                let tracks = alignmentTracks.concat(variantTracks, annotationTracks, wigTracks);
                return tracks;
            },

            showInIGV: function(event) {
                event.preventDefault();
                let inputArray = document.querySelectorAll('input[name=file-checkbox]:checked');
                let files = [];
                inputArray.forEach(function(input) {
                    files.push(input.data);
                });
                let tracks = this.generateTracks(files);
                this.renderIGV(tracks);
            },

            renderIGV: function(tracks) {
//                if (tracks.length > 5) {
//                    this.showErrorAlert(tracks.length + " tracks found for the query. Only the first 5 will be used.");
//                    tracks = tracks.slice(0, 5);
//                }

                let queryParams = URI.parseQuery(window.location.search);

                let assembly = "GRCh38";
                if (typeof(this.config.assemblies) !== "undefined" && typeof(this.config.assemblies[queryParams.study]) !== "undefined") {
                    assembly = this.config.assemblies[queryParams.study];
                }
                if (assembly === "GRCh37") {
                    // GRCh37
                    tracks.push({
                        url: 'https://s3.amazonaws.com/igv.broadinstitute.org/annotations/hg19/genes/gencode.v18.annotation.sorted.gtf.gz',
                        indexURL: 'https://s3.amazonaws.com/igv.broadinstitute.org/annotations/hg19/genes/gencode.v18.annotation.sorted.gtf.gz.tbi',
                        name: 'Gencode v18',
                        format: 'gtf',
                        visibilityWindow: 10000000,
                        displayMode: "EXPANDED"
                    });
                    myReference = {
                        id: "hg19"
                    }
                } else {
                    // GRCh38
                    tracks.push({
                        url: 'https://s3.amazonaws.com/igv.broadinstitute.org/data/hg38/gencode.v24.annotation.sorted.gtf.gz',
                        indexURL: 'https://s3.amazonaws.com/igv.broadinstitute.org/data/hg38/gencode.v24.annotation.sorted.gtf.gz.tbi',
                        name: 'Gencode v24',
                        format: 'gtf',
                        visibilityWindow: 10000000,
                        displayMode: "EXPANDED"
                    });
                    myReference = {
                        fastaURL: "//igv.broadinstitute.org/genomes/seq/hg38/hg38.fa",
                        indexURL: "//igv.broadinstitute.org/genomes/seq/hg38/hg38.fa.fai",
                        cytobandURL: "https://s3.amazonaws.com/igv.broadinstitute.org/annotations/hg38/cytoBandIdeo.txt"
                    }
                }

                let region = "chr1:13,000-14,000";
                if (typeof queryParams.region !== "undefined") {
                    region = queryParams.region;
                }

                let div = $("#igvDiv")[0],
                    options = {
                        showNavigation: true,
                        showRuler: true,
                        reference: myReference,
                        locus: region,
                        tracks: tracks
                    };
                try {
                    igv.removeBrowser(div);
                } catch(error) {
                    console.log("Cannot remove igv component");
                }
                igv.createBrowser(div, options);
            }

        });
    </script>
</dom-module>
