<dom-module id="gel-browser">
    <template>
        <style is="custom-style" include="jso-styles"></style>
        <style>
            dt {
                float: left;
                clear: left;
                text-align: right;
                width: 15%;
                color: #645a5a;
            }

            dd {
                float: left;
                margin-left: 1em;
                color: #999
            }
        </style>

        <div class="center">
            <div class="alert alert-danger" id="opencgaError" hidden="true">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Error! </strong>
                <span></span>
            </div>
        </div>

        <div class="container-fluid" id="igvDiv" style="padding:5px; border:1px solid lightgray"></div>

    </template>
    <script>
        Polymer({
            is: 'gel-browser',

            properties: {
                opencgaClient: {
                    type: Object
                }
            },
            observers: [
                'getInfo(opencgaClient._config.sessionId)'
            ],

            getInfo: function() {
                if (typeof this.opencgaClient._config.sessionId !== "undefined" && this.opencgaClient._config.sessionId !== "") {
                    // Get the queryParams
                    let queryParams = URI.parseQuery(window.location.search);
                    let paramKeys = Object.keys(queryParams);

                    if (paramKeys.indexOf("study") === -1) {
                        // TODO: RETURN BIG ERROR !
                        return;
                    }

                    this.baseUrl = "http://" + this.opencgaClient.getConfig().host + "/webservices/rest/v1/utils/ranges/";
                    this.queryParams = "?sid=" + this.opencgaClient.getConfig().sessionId + "&study=" + queryParams.study;

                    let files = [];
                    if (paramKeys.indexOf("samples") > -1 || paramKeys.indexOf("cohorts") > -1 || paramKeys.indexOf("individuals") > -1) {
                        // We check that the user only passed one of those parameters
                        let count = 0;
                        count += paramKeys.indexOf("samples") > -1 ? 1 : 0;
                        count += paramKeys.indexOf("cohorts") > -1 ? 1 : 0;
                        count += paramKeys.indexOf("individuals") > -1 ? 1 : 0;
                        if (count > 1) {
                            // TODO: RETURN BIG ERROR
                            return;
                        }

                        if (paramKeys.indexOf("samples") > -1) {
                            let query = {
                                study: queryParams.study,
                                sample: queryParams.samples
                            };
                            if (paramKeys.indexOf("format") > -1) {
                                query["format"] = queryParams.format.toUpperCase();
                            }
                            this.searchFiles(query);
                        }

                        if (paramKeys.indexOf("cohorts") > -1) {
                            this.searchCohorts(queryParams.cohorts, {study: queryParams.study});
                        }

                        if (paramKeys.indexOf("individuals") > -1) {
                            this.searchSamples({
                                study: queryParams.study,
                                individual: queryParams.individuals
                            })
                        }

                    } else if (paramKeys.indexOf("files") > -1) {
                        this.infoFiles(queryParams.files, {study: queryParams.study});
                    } else {
                        // TODO: RETURN BIG ERROR !
                        return;
                    }

                }
            },

            showErrorAlert: function(message) {
                $("#opencgaError").alert();
                $("#opencgaError span")[0].textContent = message;
                $("#opencgaError").fadeTo(2000, 500).slideUp(500, function(){
                    $("#opencgaError").slideUp(500);
                });
            },

            searchCohorts: function(cohorts, query) {
                query["include"] = "samples";

                let _this = this;
                this.opencgaClient.cohorts().info(cohorts, query).then(function (response) {
                    debugger

                }).catch(function (response) {
                    _this.showErrorAlert(response.error);
                });
            },

            searchSamples: function(query) {
                query["include"] = "id";

                let _this = this;
                this.opencgaClient.samples().search(query).then(function (response) {
                    let sampleIds = [];
                    for (let i = 0; i < response.response.length; i++) {
                        let tmpResponse = response.response[i];
                        for (let j = 0; j < tmpResponse.result.length; j++) {
                            sampleIds.push(tmpResponse.result[j].id);
                        }
                    }

                    if (sampleIds.length > 0) {
                        if (sampleIds.length > 10) {
                            _this.showErrorAlert(sampleIds.length + " samples found for the query. Only the first 10 will be used.");
                            sampleIds = sampleIds.slice(0, 10);
                        }

                        let queryParams = URI.parseQuery(window.location.search);

                        let query = {
                            study: queryParams.study,
                            sample: sampleIds.join(",")
                        };
                        if (typeof queryParams.format !== "undefined") {
                            query["format"] = queryParams.format.toUpperCase();
                        }
                        _this.searchFiles(query);
                    }
                }).catch(function (response) {
                    _this.showErrorAlert(response.error);
                });
            },

            // This is only called when files is being used in the URL as it can be path, id or name
            infoFiles: function(files, query) {
                // / are not allowed in the info webservices as files will be part of the path param
                files = files.replace(/\//g, ":");
                query["include"] = "path,name";

                let _this = this;
                this.opencgaClient.files().info(files, query).then(function (response) {
                    let tracks = _this.parseFileResponse(response);
                    _this.renderIGV(tracks);
                }).catch(function (response) {
                    _this.showErrorAlert(response.error);
                });
            },

            // This is the one that will be used when samples are passed in the URL
            searchFiles: function(query) {
                query["include"] = "path,name";

                let _this = this;
                this.opencgaClient.files().search(query).then(function (response) {
                    let tracks = _this.parseFileResponse(response);
                    _this.renderIGV(tracks);
                }).catch(function (response) {
                    _this.showErrorAlert(response.error);
                });
            },

            // It parses the file response to create an array of tracks to be loaded into IGV
            parseFileResponse: function(response) {
                let alignmentTracks = [];
                let variantTracks = [];
                let annotationTracks = [];
                let wigTracks = [];

                for (let j = 0; j < response.response.length; j++) {
                    let availableFiles = response.response[j].result;

                    for (let i = 0; i < availableFiles.length; i++) {
                        availableFiles[i].path = availableFiles[i].path.replace(/\//g, ":");

                        if (availableFiles[i].name.endsWith("bam")) {
                            alignmentTracks.push({
                                type: "alignment",
                                url: this.baseUrl + availableFiles[i].path + this.queryParams,
                                indexURL: this.baseUrl + availableFiles[i].path + ".bai" + this.queryParams,
                                name: availableFiles[i].name
                            });
                        } else if (availableFiles[i].name.endsWith("vcf") || availableFiles[i].name.endsWith("vcf.gz")) {
                            variantTracks.push({
                                type: "variant",
                                url: this.baseUrl + availableFiles[i].path + this.queryParams,
                                indexURL: this.baseUrl + availableFiles[i].path + ".tbi" + this.queryParams,
                                name: availableFiles[i].name
                            });
                        } else if (availableFiles[i].name.endsWith("bed") || availableFiles[i].name.endsWith("gff")) {
                            annotationTracks.push({
                                type: "annotation",
                                url: this.baseUrl + availableFiles[i].path + this.queryParams,
                                name: availableFiles[i].name
                            });
                        } else if (availableFiles[i].name.endsWith("wig") || availableFiles[i].name.endsWith("bigWig")) {
                            wigTracks.push({
                                type: "wig",
                                url: this.baseUrl + availableFiles[i].path + this.queryParams,
                                name: availableFiles[i].name
                            });
                        } else {
                            console.log("File " + availableFiles[i].name + " ignored");
                        }
                    }
                }

                let tracks = alignmentTracks.concat(variantTracks, annotationTracks, wigTracks);
                return tracks;
            },

            renderIGV: function(tracks) {
                if (tracks.length > 5) {
                    this.showErrorAlert(tracks.length + " tracks found for the query. Only the first 5 will be used.");
                    tracks = tracks.slice(0, 5);
                }

//                tracks.push({
//                    url: 'https://s3.amazonaws.com/igv.broadinstitute.org/data/hg38/gencode.v24.annotation.sorted.gtf.gz',
//                    indexURL: 'https://s3.amazonaws.com/igv.broadinstitute.org/data/hg38/gencode.v24.annotation.sorted.gtf.gz.tbi',
//                    name: 'Gencode v24',
//                    format: 'gtf',
//                    visibilityWindow: 10000000,
//                    displayMode: "EXPANDED"
//                });

                tracks.push({
                    name: "Genes",
                    type: "annotation",
                    format: "bed",
                    sourceType: "file",
                    url: "//igv.broadinstitute.org/annotations/hg19/genes/gencode.v18.collapsed.bed",
                    indexURL: "//igv.broadinstitute.org/annotations/hg19/genes/gencode.v18.collapsed.bed.idx",

                });

                let queryParams = URI.parseQuery(window.location.search);

                let region = "chr1:13,000-14,000";
                if (typeof queryParams.region !== "undefined") {
                    region = queryParams.region;
                }

                let div = $("#igvDiv")[0],
                    options = {
                        showNavigation: true,
                        showRuler: true,
                        reference: {
                            id: "hg19"
                        },
                        locus: region,
                        tracks: tracks
                    };
                igv.createBrowser(div, options);
            }

        });
    </script>
</dom-module>
